* {
    box-sizing: border-box;
}

body { 
    background-image: url(https://kinderbooks.ru/800/600/https/st.depositphotos.com/2565305/5011/v/450/depositphotos_50111615-stock-illustration-abstract-light-purple-background.jpg);
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    background-color: #dfc9e0;    
    width: 100vw;
    max-width: 1200px;
    display: grid; 
    grid-template-columns: 1fr 100px;
    grid-template-rows: 120px 1fr 100px;
    gap: 5px;    
} 



nav ul{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: rgb(55, 19, 89);    
    font-size: 1.2rem;
    
    /* border-radius: 20px; */
    
}



.main-menu{
    margin: 20px;
    background-color: rgb(241, 231, 242);
}


.main-menu > li{
    display: inline-block;
    padding: 9px 10px;
    background-color: #dfc9e0;       
    margin: 0px 5px;
    transition: 500ms;
    
}

.main-menu > li:hover{
    background-color: #b693b3;
    transform: translateY(-3px);
}


@media screen and (max-width: 750px){
    body {        grid-template-rows: 150px 1fr 100px;    }
    .main-menu > li{margin: 3px 5px;}
  }

  @media screen and (max-width: 450px){
    body {        grid-template-rows: 200px 1fr 100px;    }
    .main-menu > li{margin: 3px 5px;}
  }  

header, footer{
    grid-column: 1/3; 
}

main{
    grid-column: 1/2;
    display: grid;
    
}
aside{
    grid-row: 2/3;
    grid-column: 2/3;
}

header, main, aside, footer{
    background-color: #ead3ed;   
    border: 1px solid;
    margin: 5px;
    transition: all 100ms linear;
}

header{
    position: relative;
}
section{
    position: relative;
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    /* width: calc(100%-20px); */
    background-color: rgb(241, 231, 242);  
    display: grid;
    justify-items: center;    
    align-content: center;    
}



h2 {
    text-align: center;
}

.base-info{
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px;
}

.grid{
    display: grid;
}

legend{
    text-align: left;
}

.name{
    position: absolute;
    right: 20px;
    top: -10px;
    font-style: italic;
    color: #695967;
    
}

.help_info{
    font-size: 0.8rem;
    color: rgb(117, 101, 120);
    font-style: italic;
    
}