<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шаблоны</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
    
    <header >Header        
        <!-- словарь в шаблонах можно как обычно, а так же через . как свойство объекта  -->
        <p class="name"> Hello {{ user.fname }} {{ user['lname']}}</p> 
        <nav>
            <ul class="main-menu">
                {% block main_menu %}   
                {% include 'menu_main.html' %}                 
                {% endblock %}
            </ul>
        </nav>
    </header>  
    
    <main>

        <section class="info">
            <p class="base-info">Section</p>
            {% block content1_head %}
                <h2>Это базовый шаблон</h2>
                <h2>Все остальные шаблоны загружаются внутри него</h2>
            {% endblock %}
            
            {% block content1 %}
                Контент 1
            {% endblock %}
        </section>
        
        
        <section class="content">   
            <p class="base-info">Section</p>

            {% block content2_head %}
                
            {% endblock %}
            
        
            {% block content2 %}
                Контент 2
            {% endblock %}
        
    </section>
    </main>  
    
    <aside>Aside</aside>   
    
    <footer>Footer</footer> 
    

    
</body>


</html>